<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br> {{tipo}} <br><br> </h1>
        <div class="" *ngFor="let noticia of noticias">
            <h3 class="encabezado"><a (click)="verNoticia(noticia)">{{noticia.titulo}}</a> </h3>
            <p class="texto">
                {{noticia.resumen}}
            </p>
            <img src="{{noticia.imagen}}" alt="covid">
            <br><br>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-usuario></app-categorias-usuario>
    </div>
</div>
<br><br>