<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br> PROTEÍNAS <br><br> </h1>
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchedKeyword" style="width:500px">
        <div class="" *ngFor="let carne of carnes | filter:searchedKeyword">
            <br>
            <h3 class="titulo"><a (click)="verCarne(carne)">Tipo: {{carne.titulo}}</a> </h3>
            <p class="text-dark">
                <b>Precio: </b>{{carne.resumen}}
            </p>
            <p class="text-dark">
                <b>Productor:</b> {{carne.productor}}
            </p>
            <p class="text-dark">
                <b>Teléfono:</b> {{carne.telefono_productor}}
            </p>
            <img src="{{carne.imagen}}" alt="Img no disponible" width="504" height="436">
            <br><br>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-carne></app-categorias-carne>
    </div>
</div>
<br><br>