<div class="pd-2">
    <h1 class="titulo "><br> Productores <br><br> </h1>
    <div class="form-group">
        <div class="row ">
            <div class="card  col-xl-3 col-lg-6 col-md-12 col-sm-12 separar" *ngFor="let item of pediatras; let index = index" (click)="verPediatra(item)">
                <div class="box1">
                    <img class="staff" src="{{item.imagen}}">
                </div>
                <br>
                <p class="cargo"><b>Productor:</b> {{item.nombre}}</p>
                <p style="text-align: center;"><b>Teléfono:</b> {{item.telefono}}</p>
                <p style="text-align: center;"><b>Hora de atención:</b> {{item.hora_atencion}}</p>
                <p style="text-align: center;"><b>Ubicación:</b> {{item.ubicacion}}</p>
            </div>
        </div>
    </div>
</div>
<br><br>