<div class="card col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <br>
    <div class="" style="padding: 10%; text-align: center;">
        <div class="row ">
            <h1 class="subtitulo col-12">Editar Contacto</h1> <br><br><br>
        </div>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="">
                <div class="row">
                    <mat-form-field class=" col-12">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Digite email" formControlName="correo">
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field class=" col-12">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Digite celular" formControlName="celular">
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field class=" col-12">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Digite Dirección" formControlName="direccion">
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field class=" col-12">
                        <mat-label>Facebook</mat-label>
                        <input matInput placeholder="Digite Link Facebook" formControlName="facebook">
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field class=" col-12">
                        <mat-label>Twitter</mat-label>
                        <input matInput placeholder="Digite Link Twitter" formControlName="twitter">
                    </mat-form-field>
                </div>
                <div class="row ">
                    <mat-form-field class=" col-12">
                        <mat-label>Instagram</mat-label>
                        <input matInput placeholder="Digite Link Instagram" formControlName="instagram">
                    </mat-form-field>
                </div>

            </div>
            <button class="button is-info ">Guardar</button>
        </form>
    </div>
</div>