<br><br>
<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="pd-1 col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <aside class="menu">
            <p class="menu-label">
                Publicar
            </p>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':publicar}" (click)="onPublic()">Realizar Publicación de Productos</a></li>
            </ul>
            <p class="menu-label">
                Editar
            </p>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':editar}" (click)="onEdit()">Editar Datos de Contacto</a></li>
            </ul>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':qs}" (click)="onQs()">Editar Quienes Somos</a></li>
            </ul>
            <p class="menu-label">
                Productos
            </p>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':ver}" (click)="onVer()">Ver Productos</a></li>
            </ul>
            <p class="menu-label">
                Productores
            </p>
            <ul class="menu-list">
                <li><a [ngClass]="{'is-active':pediatra}" (click)="onPediatra()">Ver Productores</a></li>
            </ul>
        </aside>
    </div>
    <div class=" card col-xl-9 col-lg-9 col-md-12 col-sm-12" style="min-width: 9cm;">
        <app-add-elemento-admin *ngIf="publicar"></app-add-elemento-admin>
        <app-editarCampos-admin *ngIf="editar"></app-editarCampos-admin>
        <app-list-noticias-admin *ngIf="ver"></app-list-noticias-admin>
        <app-editar-quienes-somos *ngIf="qs"></app-editar-quienes-somos>
        <app-list-pediatras-admin *ngIf="pediatra"></app-list-pediatras-admin>
        <br>
    </div>
</div>
<br><br>