<br>
<h1 class="subtitulo col-xl-12 col-lg-12 col-md-12 col-sm-12">LISTADO DE PRODUCTOS</h1>
<br>
<div>
    <div class="card mat-elevation-z8 col-xl-10 col-lg-8 col-md-12 col-sm-12 ">
        <br>
        <br>
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- nombre Column -->
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Tipo</strong></th>
                <td style="padding-right:2%;" mat-cell *matCellDef="let row"> {{row.tipo}}</td>
            </ng-container>
            <!-- tipo Column -->
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Producto</strong> </th>
                <td style="padding-right:2%;" mat-cell *matCellDef="let row"> {{row.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo_cultivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Tipo Cultivo</strong> </th>
                <td style="padding-right:2%;" mat-cell *matCellDef="let row"> {{row.tipo_cultivo}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td style="padding-right:2%;" mat-cell *matCellDef="let row"> {{row.fecha.seconds*1000|date:'MM/dd/yyyy'}}
                </td>
            </ng-container> -->
            <!-- estado Opciones -->
            <ng-container matColumnDef="opciones" class="col-1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>OPCIONES</strong> </th>
                <td mat-cell *matCellDef="let row">
                    <div class="row" style="padding-right: 20%;">
                        <a (click)="verElemento(row)"><span class="col-sm-12 col-md-12 material-icons icon has-text-info md-18">
                visibility
              </span></a>
                        <a (click)="editarElemento(row)"><span class=" col-sm-12 col-md-12 material-icons icon has-text-info md-18">
                edit
              </span></a>
                        <a (click)="eliminar(row)"><span class="col-sm-12 col-md-12 material-icons icon has-text-info md-18">
                delete
              </span></a>
                    </div>

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
        </table>
        <mat-paginator class="col-12" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>