<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">Tipo: {{semilla.titulo}}</h1>

        <p class="text-dark"><b>Descripción:</b> {{semilla.descripcion_larga}}</p>
        <p class="text-dark"><b>Tipo de cultivo:</b> {{semilla.tipo_cultivo}}</p>
        <p class="text-dark"><b>Precio:</b> {{semilla.resumen}}</p>
        <p class="text-dark"><b>Productor:</b> {{semilla.productor}}</p>
        <p class="text-dark"><b>Teléfono:</b> {{semilla.telefono_productor}}</p>
        <p class="text-dark"><b>Hora de atención:</b> {{semilla.hora_atencion}}</p>
        <p class="text-dark"><b>Ubicación del productor:</b> {{semilla.ubicacion_productor}}</p>
        <img src="{{semilla.imagen}}" alt="Img no disponible" width="504" height="436">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" (click)="ok()">OK</button>