<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">Tipo: {{fruta.titulo}}</h1>

        <p class="text-dark"><b>Descripción:</b> {{fruta.descripcion_larga}}</p>
        <p class="text-dark"><b>Tipo de cultivo:</b> {{fruta.tipo_cultivo}}</p>
        <p class="text-dark"><b>Precio:</b> {{fruta.resumen}}</p>
        <p class="text-dark"><b>Productor:</b> {{fruta.productor}}</p>
        <p class="text-dark"><b>Teléfono:</b> {{fruta.telefono_productor}}</p>
        <p class="text-dark"><b>Hora de atención:</b> {{fruta.hora_atencion}}</p>
        <p class="text-dark"><b>Ubicación del productor:</b> {{fruta.ubicacion_productor}}</p>
        <img src="{{fruta.imagen}}" alt="Img no disponible" width="504" height="436">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" (click)="ok()">OK</button>