<!-- <mat-card>
    <mat-card-header>
        <mat-card-title class="titulo">
            <div class="row">
                {{noticia.tipo|uppercase}}:
            </div>
            <div class="row">
                <small class="pd-1">
        fecha:  {{noticia.fecha.seconds*1000|date:'MM/dd/yyyy'}}
      </small>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">{{noticia.titulo}}</h1>

        <p class="texto">{{noticia.descripcion_larga}}</p>
        <img src="{{noticia.imagen}}" alt="">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" (click)="ok()">OK</button> -->

<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">Producto: {{noticia.titulo}}</h1>
        <p class="text-dark"><b>Productor:</b> {{noticia.productor}}</p>
        <p class="text-dark"><b>Teléfono:</b> {{noticia.telefono_productor}}</p>
        <p class="text-dark"><b>Descripción:</b> {{noticia.descripcion_larga}}</p>
        <p class="text-dark"><b>Tipo de cultivo:</b> {{noticia.tipo_cultivo}}</p>
        <p class="text-dark"><b>Precio:</b> {{noticia.resumen}}</p>
        <img src="{{noticia.imagen}}" alt="" width="304" height="236">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" (click)="ok()">OK</button>