<div class="card">
  inicio
  <agm-map style="position: relative; left: 2cm;" [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
fin
</div>