<div class="box">
    <div class="container-fluid">
        <div class="parent">
            <div class="col-xs-6 col-sm-2">
                <div class="brand-wrapper">
                    <!-- <img src="../../../../../assets/semilla-viva.png" class=""> -->
                </div>
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">INGRESAR</h1>
                    <form [formGroup]="formulario">
                        <div class="form-group">
                            <label for="email">Correo <small *ngIf="mailError()" style="color: red;">Formato correo Inválido</small></label>
                            <input type="email" formControlName="email" name="email" id="email" class="form-control" placeholder="email@ejemplo.com">
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Contraseña</label>
                            <input type="password" formControlName="password" name="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
                        </div>
                        <input *ngIf="!errores()" name="login" id="login" class="btn btn-block login-btn" type="button" value="INGRESAR" (click)="ingresar()">
                        <input *ngIf="errores()" name="login" id="login" disabled class="btn btn-block login-btn" type="button" value="INGRESAR" (click)="ingresar()">
                    </form>
                    <!-- <p class="login-wrapper-footer-text">No tiene una Cuenta? <a href="#!" class="text-reset">Registrese here</a></p> -->
                </div>
            </div>
            <!-- <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12">
                <img src="../../../../../assets/logo_tambena.png" alt="login image">
            </div> -->
        </div>
    </div>
</div>