<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br>{{tipo}} <br><br> </h1>
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchedKeyword" style="width:500px">
        <br>
        <div class="" *ngFor="let semilla of semillas | filter:searchedKeyword">
            <h3 class="titulo"><a (click)="verSemilla(semilla)"> Tipo: {{semilla.titulo}}</a> </h3>
            <p class="text-dark">
                <b>Precio:</b> {{semilla.resumen}}
            </p>
            <p class="text-dark">
                <b>Productor:</b> {{semilla.productor}}
            </p>
            <p class="text-dark">
                <b>Teléfono:</b> {{semilla.telefono_productor}}
            </p>
            <img src="{{semilla.imagen}}" alt="Img no disponible" width="504" height="436">
            <br><br>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-usuario></app-categorias-usuario>
    </div>
</div>
<br><br>