.titulo {
    font-weight: 700;
    color: #94c11e;
    font-size: 50px;
}

.btn-ingresar {
    background-color: white;
    color: #94c11e;
    height: 1cm;
}

.btn-salir {
    background-color: #d9534f;
    color: white;
    height: 1cm;
}