<ul>
    <!-- <mat-select formControlName="pediatra">
        <mat-option>Seleccione</mat-option>
        <mat-option *ngFor="let pediatra of pediatras" [value]="pediatra">{{pediatra.nombre}}</mat-option>
        <app-list-pediatras-admin></app-list-pediatras-admin>
    </mat-select> -->
    <!-- <li *ngFor="let name of pediatras"> -->
    <!-- <mat-option *ngFor="let row of pediatras" [value]="row">{{row.nombre}}</mat-option> -->
    <!-- <app-add-elemento-admin [nombre_prod]="name.nombre"></app-add-elemento-admin> -->

    <!-- </li> -->
</ul>
<br>
<h1 class="subtitulo col-xl-7 col-lg-7 col-md-12 col-sm-12">LISTADO DE PRODUCTORES</h1>
<br>
<button class="button is-link col-xl-3 col-lg-3 col-md-6 col-sm-6" mat-raised-button (click)="agregar()">
          <span class="material-icons">
            add_circle
          </span>
          Agregar Productor
        </button>
<div class="card mat-elevation-z8 col-xl-12 col-lg-8 col-md-12 col-sm-12">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Nombre</strong> </th>
            <td style="padding-right:5%;" mat-cell *matCellDef="let row"> {{row.nombre}}</td>

        </ng-container>
        <!-- tipo Column -->
        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Cedula</strong> </th>
            <td style="padding-right:5%;" mat-cell *matCellDef="let row"> {{row.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Teléfono</strong> </th>
            <td style="padding-right:5%;" mat-cell *matCellDef="let row"> {{row.telefono}} </td>
        </ng-container>
        <!-- estado Opciones -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>OPCIONES</strong> </th>
            <td mat-cell *matCellDef="let row">
                <a (click)="verPediatra(row)"><span class="material-icons icon has-text-info md-18">
                    visibility
                  </span></a>
                <a (click)="editarPediatra(row)"><span class="material-icons icon has-text-info md-18">
                    edit
                  </span></a>
                <a (click)="eliminar(row)"><span class="material-icons icon has-text-info md-18">
                    delete
                  </span></a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
<br><br>