<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">Ver Productor</h1>

        <p class="text-dark"><b>Nombre:</b> {{p.nombre}}</p>
        <p class="text-dark"><b>Teléfono:</b> {{p.telefono}}</p>
        <p class="text-dark"><b>Hora de atención:</b> {{p.hora_atencion}}</p>
        <p class="text-dark"><b>Restricción:</b> {{p.restriccion}}</p>
        <p class="text-dark"><b>Ubicación:</b> {{p.ubicacion}}</p>
        <img src="{{p.imagen}}" alt="" alt="" width="304" height="236">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" style="position: relative; left: 80%;" (click)="ok()">OK</button>