.doc{
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #333944;
    margin: 0; padding: 0;
  }
  .box1{    
    max-height: 3cm;
    background: white;
    overflow: hidden;
    margin: 0; padding: 0;
  }
.box1 img{
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
  }
  @supports(object-fit: cover){
      .box1 img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }