
    <div class="form-group" style="padding: 5%;">
        <div class="row">           
                <br>
                <div style="min-width: 7cm;" class="card col-xl-4 col-lg-6 col-md-6 col-sm-12 separar"  *ngFor="let item of eventos; let index = index">
                 
                        <div class="box1" style="background-color: white;">
                            <img src="{{item.imagen}}" class="img-fluid" >
                        </div>
                 
                    <br>
                    
                    <div class="card-body " style="padding-left: 0.5cm; padding-right: 0.5cm;" >
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <p class="card-text">{{item.resumen}}</p>
                        <a (click)="verNoticia(item)" class="btn btnSCP" >
                            Ver articulo
                        </a> 
                    </div>
                    <br>
                </div>          
        </div>
    </div>