*{margin: 0; padding: 0;}
.doc{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background:white;
}
.box1{
  min-width: 300px;
  height: 300px;
  background: #CCC;
  overflow: hidden;
}
.btn{
  border: none;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  border-radius: 3px;

  font-family: Verdana, sans-serif;
  color: white;
  background: #1ac6d0;
  cursor: pointer;
}

.box1 img{
  width: 100%;
  height: 100%;
}
@supports(object-fit: cover){
    .box1 img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
}
.btnSCP
{
    background-color: #009CDA;
}