.resumen {
    width: 90%;
}

.der {
    position: relative;
    left: 70%;
}

.doc {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #333944;
    margin: 0;
    padding: 0;
}

.box1 {
    max-width: 300px;
    height: 300px;
    background: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.btn {
    border: none;
    margin-top: 1.5em;
    padding: 0.75em 1.5em;
    border-radius: 3px;
    font-family: Verdana, sans-serif;
    color: white;
    background: #1ac6d0;
    cursor: pointer;
}

.box1 img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

@supports(object-fit: cover) {
    .box1 img {
        height: auto;
        object-fit: cover;
        object-position: center center;
    }
}