<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <h1 class="subtitulo">Tipo: {{hortaliza.titulo}}</h1>

        <p class="text-dark"><b>Descripción:</b> {{hortaliza.descripcion_larga}}</p>
        <p class="text-dark"><b>Tipo de cultivo:</b> {{hortaliza.tipo_cultivo}}</p>
        <p class="text-dark"><b>Precio:</b> {{hortaliza.resumen}}</p>
        <p class="text-dark"><b>Productor:</b> {{hortaliza.productor}}</p>
        <p class="text-dark"><b>Teléfono:</b> {{hortaliza.telefono_productor}}</p>
        <p class="text-dark"><b>Hora de atención:</b> {{hortaliza.hora_atencion}}</p>
        <p class="text-dark"><b>Ubicación del productor:</b> {{hortaliza.ubicacion_productor}}</p>
        <img src="{{hortaliza.imagen}}" alt="Img no disponible" width="404" height="336">
    </mat-card-content>
</mat-card>
<br>
<button class="button is-info derecha" (click)="ok()">OK</button>