body {
    font-family: "Karla", sans-serif;
    background-color: #fff;
    min-height: 100vh;
}

.responsive {
    max-width: 400%;
    max-width: 400px;
    height: auto;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}