<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br> {{tipo}} <br><br> </h1>
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchedKeyword" style="width:500px">
        <div class="" *ngFor="let grano of granos | filter:searchedKeyword">
            <br>
            <h3 class="titulo"><a (click)="verGrano(grano)">Tipo: {{grano.titulo}}</a> </h3>
            <p class="text-dark">
                <b>Precio: </b>{{grano.resumen}}
            </p>
            <p class="text-dark">
                <b>Productor:</b> {{grano.productor}}
            </p>
            <p class="text-dark">
                <b>Teléfono:</b> {{grano.telefono_productor}}
            </p>
            <img src="{{grano.imagen}}" alt="Img no disponible" width="504" height="436">
            <br><br>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-grano></app-categorias-grano>
    </div>
</div>
<br><br>