<div class="card">
    <h1 class="titulo pd-1"> EDITAR PRODUCTOR</h1>
    <br><br><br>
    <form [formGroup]="formulario">
        <div class="pd-1">
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="Digite su cedula" formControlName="cedula">
                    <mat-error *ngIf="this.formulario.get('cedula').hasError('pattern') && !this.formulario.get('cedula').hasError('required')">
                        Cedula invalida (sólo caracteres tipo numéricos)
                    </mat-error>
                    <mat-error *ngIf="this.formulario.get('cedula').hasError('required')">
                        !La cedula es requerida¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Digite nombre" formControlName="nombre">
                    <mat-error *ngIf="this.formulario.get('nombre').hasError('pattern') && !this.formulario.get('nombre').hasError('required')">
                        Nombre inválido (sólo caracteres tipo texto)
                    </mat-error>
                    <mat-error *ngIf="this.formulario.get('nombre').hasError('required')">
                        !El Nombre es requerido¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="contrasenia">
                    <mat-error *ngIf="this.formulario.get('contrasenia').hasError('required')">
                        !Contraseña requerida¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Digite un Teléfono" formControlName="telefono">
                    <mat-error *ngIf="this.formulario.get('telefono').hasError('pattern') && !this.formulario.get('telefono').hasError('required')">
                        Teléfono invalido (sólo caracteres tipo numéricos)
                    </mat-error>
                    <mat-error *ngIf="this.formulario.get('telefono').hasError('required')">
                        !El teléfono es requerido¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Horario de atención</mat-label>
                    <input matInput placeholder="Horario de atención" formControlName="hora_atencion">
                    <mat-error *ngIf="this.formulario.get('hora_atencion').hasError('required')">
                        !El horario de atención es requerido¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Restricciones de envió</mat-label>
                    <input matInput placeholder="Restricciones de envio" formControlName="restriccion">
                    <mat-error *ngIf="this.formulario.get('restriccion').hasError('required')">
                        !Restricción requerida¡
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-8">
                    <mat-label>Ubicación</mat-label>
                    <input matInput placeholder="Ubicación" formControlName="ubicacion">
                    <mat-error *ngIf="this.formulario.get('ubicacion').hasError('required')">
                        !Ubicación requerida¡
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="">
                <div class="box1 col-xl-3 col-lg-3 col-md-10 col-sm-10">
                    <img *ngIf="imageBandera" src="{{source}}" alt="">
                    <img *ngIf="!imageBandera" src="{{pediatraRef.imagen}}" alt="">
                </div>
                <br>
                <div class="input-group-prepend ">
                    <span class="input-group-text">IMAGEN</span>
                    <div class="file">
                        <label class="file-label">
                    <input class="file-input" type="file" accept=".png, .jpg" name="resume" (change)="handleImage($event)">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Seleccione Imagen.
                      </span>
                    </span>
                  </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"></div>
        <div class="row col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <button class="button is-danger col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="cancel()">Cancelar</button>
            <button *ngIf="errores()" disabled class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
            <button *ngIf="!errores()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12" (click)="onSubmit()">Guardar</button>
        </div>
        <br><br>
    </div>