<div class="row pd-2">
    <div class="col-xl-8  col-lg-7  col-md-6  col-sm-12  ">
        <h1 class="titulo" style=""><br> {{tipo}} <br><br> </h1>
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchedKeyword" style="width:500px">
        <br>
        <div class="" *ngFor="let otro of otros | filter:searchedKeyword">
            <h3 class="titulo"><a (click)="verOtro(otro)">Tipo: {{otro.titulo}}</a> </h3>
            <p class="text-dark">
                <b>Precio: </b>{{otro.resumen}}
            </p>
            <p class="text-dark">
                <b>Productor:</b> {{otro.productor}}
            </p>
            <p class="text-dark">
                <b>Teléfono:</b> {{otro.telefono_productor}}
            </p>
            <img src="{{otro.imagen}}" alt="Img no disponible" width="504" height="436">
            <br><br>
        </div>
    </div>

    <div class="col-xl-4  col-lg-5  col-md-6  col-sm-12  " style="padding-top: 4cm;">

        <app-categorias-otro></app-categorias-otro>
    </div>
</div>
<br><br>