<div class="card">
    <br>
    <h1 class="titulo" style="text-align: center;">AGREGAR PRODUCTOR</h1>
    <br><br><br>
    <div class="row ">
        <div class="input-group-prepend ">
            <br><br><br>
            <div class="file col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-left: 15%;">
                <label class="file-label col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <input class="file-input " type="file" accept=".png, .jpg" 
          name="resume" (change)="handleImage($event)"
          >
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label col-12">
              Seleccione Imagen.
            </span>
          </span>
        </label>
            </div>
            <!-- <button class="button is-info" (click)="onUpload()">Subir</button> -->
        </div>
    </div>
    <div class="box1" *ngIf="imageBandera">
        <img style="padding-left: 10%;" *ngIf="imageBandera" src="{{source}}" alt="">
    </div>
    <form [formGroup]="formulario">
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Cedula: </mat-label>
                <input matInput formControlName="cedula" required>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="this.formulario.get('cedula').hasError('pattern') && !this.formulario.get('cedula').hasError('required')">
                    Cedula invalida (sólo caracteres tipo numericos)
                </mat-error>
                <mat-error *ngIf="this.formulario.get('cedula').hasError('required')">
                    !La cedula es requerida¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Nombre completo: </mat-label>
                <input matInput formControlName="nombre" required>
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="this.formulario.get('nombre').hasError('pattern') && !this.formulario.get('nombre').hasError('required')">
                    Nombre inválido (sólo caracteres tipo texto)
                </mat-error>
                <mat-error *ngIf="this.formulario.get('nombre').hasError('required')">
                    !El Nombre es requerido¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Contraseña: </mat-label>
                <input type="password" matInput formControlName="contrasenia" required>
                <mat-error *ngIf="this.formulario.get('contrasenia').hasError('required')">
                    !Contraseña requerida¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Teléfono: </mat-label>
                <input matInput formControlName="telefono" required>
                <mat-error *ngIf="this.formulario.get('telefono').hasError('pattern') && !this.formulario.get('telefono').hasError('required')">
                    Teléfono invalido (sólo caracteres tipo numericos)
                </mat-error>
                <mat-error *ngIf="this.formulario.get('telefono').hasError('required')">
                    !El teléfono es requerido¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Horario de atención: </mat-label>
                <input matInput formControlName="hora_atencion" required>
                <mat-error *ngIf="this.formulario.get('hora_atencion').hasError('required')">
                    !Horario requerido¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Restricciones de envió de Productos: </mat-label>
                <input matInput formControlName="restriccion" required>
                <mat-error *ngIf="this.formulario.get('restriccion').hasError('required')">
                    !Restricción requerida¡
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="pd-2 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-label>Ubicación del producto: </mat-label>
                <input matInput formControlName="ubicacion" required>
                <mat-error *ngIf="this.formulario.get('ubicacion').hasError('required')">
                    !Ubicación requerida¿¡
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"></div>
        <div class="row col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <button (click)="cancel()" class="button is-danger col-xl-6 col-lg-6 col-md-6 col-sm-12">Cancelar</button>
            <button *ngIf="errores()" disabled (click)="onUpload()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12 ">Guardar</button>
            <button *ngIf="!errores()" (click)="onUpload()" class="button is-info col-xl-6 col-lg-6 col-md-6 col-sm-12 ">Guardar</button>
        </div>
    </div>
</div>