<p class="aligncenter">
    <img src="../../../assets/logo_fondo_d.png" alt="" width="800" height="450">
</p>
<mat-card style="height: 4cm; background-color: #1a753a;">
    <!-- <h1 class="down4 " style="text-align: center;">NOTICIAS</h1> -->
</mat-card>

<div class="col-xl-12  col-lg-12  col-md-12  col-sm-12">
    <div class="columns is-centered">
        <div class="column is-half">
            <!-- <ngb-carousel>
                <ng-template ngbSlide *ngFor="let n of noticias">
                    <figure class="image is-100x100">
                        <div class="picsum-img-wrapper">
                            <div class="box1">
                                <img [src]="n.imagen" alt="Random first slide" height="100">
                            </div>
                        </div>
                    </figure>
                    <div class="carousel-caption">
                        <h3>{{n.titulo}}</h3>
                        < !-- 
                        <p>{{n.resumen}}</p> - ->
                    </div>
                </ng-template>
            </ngb-carousel> -->
        </div>

    </div>
</div>