<mat-card>
    <mat-card-header>
        <mat-card-title class="titulo">
            Productor
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p style="text-align: justify;"><b>Productor:</b> {{p.nombre}}</p>
        <p style="text-align: justify;"><b>Teléfono:</b> {{p.telefono}}</p>
        <p style="text-align: justify;"><b>Hora de atención:</b> {{p.hora_atencion}}</p>
        <p style="text-align: justify;"><b>Ubicación:</b> {{p.ubicacion}}</p>

        <!-- <div class="" *ngFor="let elementos of e">
            <p class="text-dark">
                <b>Titulo:</b> {{elementos.titulo}}
            </p>
            <p class="text-dark">
                <b>Descripción:</b> {{elementos.descripcion_larga}}
            </p>
            <p class="text-dark">
                <b>Resumen:</b> {{elementos.resumen}}
            </p>
            <p class="text-dark">
                <b>Documento:</b> {{elementos.documento}}
            </p>
            <br><br>
        </div> -->
        <div class="card mat-elevation-z8 col-xl-10 col-lg-8 col-md-12 col-sm-12 ">
            <br>
            <h1 class="subtitulo col-xl-12 col-lg-12 col-md-12 col-sm-12">LISTADO DE PRODUCTOS</h1>
            <br>
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- nombre Column -->
                <ng-container matColumnDef="Titulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Titulo</strong></th>
                    <td style="padding: 30px 20px 30px 0;" mat-cell *matCellDef="let row"> {{row.titulo}}</td>
                </ng-container>
                <!-- tipo Column -->
                <ng-container matColumnDef="Descripción">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Descripción</strong> </th>
                    <td style="padding: 30px 20px 30px 0;" mat-cell *matCellDef="let row"> {{row.descripcion_larga}} </td>
                </ng-container>
                <ng-container matColumnDef="Resumen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Resumen</strong> </th>
                    <td style="padding: 30px 20px 30px 0;" mat-cell *matCellDef="let row"> {{row.resumen}} </td>
                </ng-container>
                <ng-container matColumnDef="Cultivo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Cultivo</strong> </th>
                    <td style="padding: 30px 20px 30px 0;" mat-cell *matCellDef="let row"> {{row.tipo_cultivo}} </td>
                </ng-container>
                <ng-container matColumnDef="Imagen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Imagen</strong> </th>
                    <td style="padding: 30px 20px 30px 0;" mat-cell *matCellDef="let row"> <img alt="" height=400 width=200 src="{{row.imagen}}"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
            </table>
            <mat-paginator class="col-12" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>




        <!-- <div class="box">
            <img class="pd-2" src="{{p.imagen}}" style="max-height: 5cm;">
        </div> -->
    </mat-card-content>
    <mat-card-actions>
        <button class="button is-info" style="position: relative; left: 80%;" (click)="ok()">OK</button>
    </mat-card-actions>
</mat-card>
<br>