<h1>{{tipo|uppercase}} RECIENTES</h1><br>
<div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <div class="" *ngFor="let item of otros" style="padding-top: 1cm; padding-bottom: 1cm;">

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="box1">
                    <img src="{{item.imagen}}" alt="">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div class="row">
                    <a (click)="verGrano(item)">{{item.titulo}}</a>
                </div>
                <div class="row">
                    <small style="padding-top: 15%;">
            fecha:  {{item.fecha.seconds*1000|date:'MM/dd/yyyy'}}
          </small>
                </div>
            </div>
        </div>
    </div>

</div>