.card .card-image,
.card .card-image .image img {
    height: 100px;
    width: 100px;
}

agm-map {
    width: 650px;
    height: 600px;
}


/* .doc{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #333944;
  margin: 0; padding: 0;
}
.boxMaps{
  max-width: 800px;
  height: 500px;
  background: white;
  overflow: hidden;
  margin: 0; padding: 0;
}
.boxMaps img{
  width: 800px;
  height: auto;
  margin: 0; padding: 0;
}
@supports(object-fit: cover){
    .boxMaps img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
} */